* {
    margin: 0;
}
.navbar-brand {
    font-size: 32px;

}
#caroussel {
    margin: 0;
}
#three-cards {
    background-color: #ed564b;
}
.card {
    background: none;
    border: none;
    color: whitesmoke;
    align-content: center;
}
h3 {
    margin: 20px 0px 3px;
}
    


#main-content {
    height: 100px;
    width: 100%;
    background-color: aqua;
}
#bottom-row {
    background-color: #3b3b3b;
    color: whitesmoke;
}
#footer {
    height: 100px;
    width: 100%;
    background-color: #292929;
}
#projects .card {
    color: #606060;
}
#articles .card {
    color: #606060;
}
hr {
    color: #606060;
    margin: 10px 0;
}