* {
    margin: 0;
}
.navbar-brand {
    font-size: 32px;

}
#caroussel {
    margin: 0;
}
#three-cards {
    background-color: #ed564b;
    padding: 40px 0;
    margin-bottom: 60px;
}
.card {
    background: none;
    border: none;
    color: whitesmoke;
    align-content: center;
}
h3 {
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0px 3px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}
.mid-text {
    font-size: 14px;
    color: #aaaaaa;
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-family: sans-serif;
}

.carousel-caption {
    display: flex;
    align-self: center;
    height: 50%;
}
.carousel-caption h5 {
    font-size: 36px;
    color: #FFFFFF;
}
.carousel-caption p {
    font-size: 16px;
    color: #FFFFFF;
}


#main-content {
    height: 100px;
    width: 100%;
    background-color: aqua;
}
#bottom-row {
    background-color: #3b3b3b;
    color: whitesmoke;
}
#bottom-row h3 {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0;
    color: #FFFFFF;
}
#bottom-row p {
    font-size: 14px;
    color: #aaaaaa;
}
#footer {
    background-color: #292929;
}
.copy {
    font-size: 12px;
    color: #eeeeee;
    padding: 10px 0;
}
#projects .card {
    color: #606060;
}
#articles .card {
    color: #606060;
}
hr {
    color: #606060;
    margin: 10px 0;
    padding: 10px;
}